.alerta {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 10px 25px 10px 10px;
    margin: 1rem;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    animation: entrada 0.5s;
  }
  
  @keyframes entrada {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .cerrar {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
    z-index: 99;
  }
  
  .fadeOut {
    animation: salida 0.5s;
  }
  
  @keyframes salida {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-100%);
    }
  }