.contenido{
    display: grid;
    align-items: flex-start;
    
}

@media (min-width: 768px) {
    .contenido{
        grid-template-columns: 3fr 2fr;
        gap: 5rem;
    }
}

.carrito{
    padding: 3rem 0;
}

.producto{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid #cfcfcf;
    position: relative;
}

.producto:last-of-type{
    border: none;
}

.producto p {
    margin: 0 0 0.3rem 0;
}

.producto span{
    font-weight: 600;
    font-size: 1.1rem;
}

.nombre{
    font-weight: 650;
    font-size: 1.3rem;
    color: rgb(38, 38, 38);
    width: 80%;
}

@media (max-width: 768px) {
    .nombre{
        font-weight: 550;
        font-size: 1rem;
    }
}

.precio{
    font-weight: 700;
    color: #c21a7f;
}

.subtotal{
    font-size: 1.1rem ;
}

.subtotal span{
    font-size: 1.3rem;
    color: rgb(27, 27, 27);
}

.subtotal span:nth-of-type(2){
    font-size: 1.1rem;
    color: rgb(61, 61, 61);
}

.resumen{
    background-color: #f9fafb;
    padding: 3rem;
    border-radius: 1rem;
    position: sticky;
    top: 4rem;
}

.eliminar{
    color: rgb(38, 38, 38);
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.eliminar:hover{
    color: #c21a7f;
}